@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@300&display=swap');

body {
    background-color: #0a0a23;
  }

  .suse {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
  }
  
  #text {
    background-color: #34154e;
    color: #ffffff;
    padding: 10px;
    border-radius: .5rem;
    text-align: center;
  }
  
  #game {
    max-width: 700px;
    max-height: 400px;
    background-color: #d1cbd8;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
    border-radius: 1rem;
  }
  
  #controls,
  #stats {
    padding: 5px;
    margin-bottom: .5rem;
    color: #0a0a23;
    text-align: center;
  }
  
  #monsterStats {
    display: none;
    border-radius: .5rem;
    padding: 5px;
    margin-bottom: .5rem;
    color: #ffffff;
    background-color: #a52828;
    text-align: center;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    border-radius: .8rem;
    font-size: 16px;
  }